# Created by .ignore support plugin (hsz.mobi)

/workspace.xml
*.iml
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/sqldialects.xml
.idea/vcs.xml
wuage-common/target/
wuage-dao/target/
wuage-framework/target/
wuage-service/target/
wuage-service/wuage-service.iml
wuage-web/target/
