<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="Config">
        <id column="CONF_ID" property="confId"/>
        <result column="CONF_CODE" property="confCode"/>
        <result column="CONF_NAME" property="confName"/>
        <result column="CONF_VALUE" property="confValue"/>
        <result column="MODIFY_TIME" property="modifyTime"/>
        <result column="TS" property="ts"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CONF_ID, CONF_CODE, CONF_NAME, CONF_VALUE, MODIFY_TIME, TS
    </sql>

    <update id="updateByCode" >
        update sys_config set CONF_VALUE = #{value} where CONF_CODE = #{key}
    </update>

</mapper>
